<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Info</title>

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/userPage.css}">
</head>
<body>
<!--NAVBAR/HEADER BAR-->
        <header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Crew-6-Stars</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <buttton>
                        <a class="nav-link" href="#">Search</a>
                    </buttton>
                </li>
            </ul>
        </header>

        <div class="container">
            <form action="#" th:action="@{/user-details}" method="post" th:object="${user}">

                <div class="row">
                    <div class="col-4">
                        <label for="name" class="col-form-label">Full Name:</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="school" class="col-form-label">School:</label>
                        <input type="text" id="school"  th:field="*{school}" class="form-control">
                    </div>
                    <div class="col-4">
                        <label for="bestSubject" class="col-form-label">Best Subject:</label>
                        <input type="text" id="bestSubject"  th:field="*{bestSubject}" class="form-control">
                    </div>
                </div>

                <!--BUTTON TO ADD AND DELETE FIELDS-->
                <div class="row mt-4 mb-1">
                    <div class="col d-flex justify-content-between">
                        <div onclick="createField()" class="btn btn-primary float-start">Create row</div>
                        <div onclick="deleteField()" class="btn btn-danger float-end">Delete row</div>
                    </div>
                </div>
                <!--FIELDS LABEL-->
                <div class="row">
                    <div class="col-4">
                        <label for="companyName" class="col-form-label">Company Name:</label>
                    </div>
                    <div class="col-4">
                        <label for="faxNumber" class="col-form-label">Fax Number:</label>
                    </div>
                    <div class="col-4">
                        <label for="location" class="col-form-label">Location:</label>
                    </div>

                </div>

                <table class="table table-borderless mt-0" id="userTable">
                    <tbody id="tableBody">
                        <tr>
                            <td>
                                <input type="text" id="companyName" th:field="*{work.companyName}" class="form-control">
                            </td>
                            <td>
                                <input type="text" id="faxNumber" th:field="*{work.faxNumber}"  class="form-control">
                            </td>
                            <td>
                                <input type="text" id="location" th:field="*{work.location}" class="form-control">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button type="submit" class="btn btn-warning">
                    SUBMIT
                </button>

            </form>
        </div>

      <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>