<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Info</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/userPage.css}">
</head>
<body>
<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Crew-6-Stars</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <buttton>
                <a class="nav-link" href="#">Search</a>
            </buttton>
        </li>
    </ul>
</header>

<h3>USER'S WORK HISTORY</h3>
<p>Full Name: <span th:text="${user.name}"></span></p>
<p>University: <span th:text="${user.school}"></span></p>
<p>Best Subject: <span th:text="${user.bestSubject}"></span></p>

<table class="table table-striped .table-hover mt-1">
    <thead>
    <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Fax Number</th>
        <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.work.companyName}">
        </td>
        <td th:text="${user.work.faxNumber}">
        </td>
        <td th:text="${user.work.location}">
        </td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>